<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd ">
    <context:property-placeholder location="classpath:database.properties"></context:property-placeholder>
    <context:component-scan base-package="com.xcz.UserInfo.action,com.xcz.UserInfo.domain,com.xcz.UserInfo.service,com.xcz.search.action,com.xcz.search.domain,com.xcz.search.service,
    com.xcz.borrow_history.action, com.xcz.borrow_history.domain, com.xcz.borrow_history.service,
    com.xcz.recommendation.action, com.xcz.recommendation.domain,com.xcz.recommendation.service,
    com.xcz.book_management.action,com.xcz.book_management.service,com.xcz.News.action,
    com.xcz.News.Service,com.xcz.News.domain"/>
    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${driverClassName}"></property>
        <property name="url" value="${url}"></property>
        <property name="username" value="${username}"></property>
        <property name="password" value="${password}"></property>
    </bean>
    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="dataSource">
            <ref bean="dataSource" />
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
                <prop key="hibernate.dialect">${hibernate.dialect}</prop>
                <prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
                <prop key="hibernate.format_sql">${hibernate.format_sql}</prop>
            </props>
        </property>
        <property name="mappingLocations">
            <list>
                <value>classpath:UserInfo.hbm.xml</value>
                <value>classpath:Book.hbm.xml</value>
                <value>classpath:BorrowHistory.hbm.xml</value>
                <value>classpath:Reservation.hbm.xml</value>
                <value>classpath:Recommendation.hbm.xml</value>
                <value>classpath:Admin.hbm.xml</value>
                <value>classpath:News.hbm.xml</value>
            </list>
        </property>
    </bean>
    <bean id="hibernateDAO" class="com.xcz.common.HibernateDAO">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
    </bean>

    <import resource="UserInfo-Spring-module.xml"/>
    <import resource="Search-Spring-module.xml"/>
    <import resource="BorrowHistory-Spring-module.xml"/>
    <import resource="recommend-Spring-module.xml"/>
    <import resource="Admin-Spring-module.xml"/>
    <import resource="BookManage-Spring-module.xml"/>
    <import resource="EBook-Spring-module.xml"/>
    <import resource="News-Spring-module.xml"/>
</beans>